body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* background-color: #f4f4f4; */
    @font-face {
        font-family: Montserrat;
        src: url(
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
});
    }
}

.hero {
    background:#49552A;
    position: relative;
    height: 40vh;
    width: 100%;
    /* color: white; */
}
.navbar{
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
    margin-top: 20px;
}

.navbar .logo{
    padding: 10px;
    float: left;
}

.logo a{
    text-decoration: none;
    font-size: 22px;
    font-family: sans-serif;
    color: rgb(240, 36, 36);
}

.logo a span{
    color: #2E7D32;
}

.nav-links{
    display: flex;
    gap: 25px;
    text-decoration: none;
    list-style-type: none;

}
.nav-links a{
    text-decoration: none;
    color: black;
    font-family: "poppins", sans-serif;
    transition: .5s ease-in;
}

.nav-links a:hover{
color: #44BB4F;
}
.logo img{
    width: 100px;
    height: 20px;
    margin-left: 40px;
}
.signup-bar{
    background-color: white;
    color: #2E7D32;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid #2E7D32;
    transition: 0.5s ease;
    cursor: pointer;
    
}

.signup-bar:hover{
background: salmon;
color: #000;
}
.btn{
   background-color: #2E7D32;
    color: white;
    height: 40px;
    width: 100px;
   border: 1px solid #49552A;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
    
}

.btn:hover{
  background-color: salmon;
  color: #000;
}
.col{
    margin-right: 40px;
    gap: 25px;
}

.contact{
    position: absolute;
    bottom: -480px;
    top: 100px;
    left: 50px;
}

.contact h1{
    color: #F5F5F5;
    text-align: center;
}

/* .img img{
    height: 500px;
    width: 1200px;
} */

/* MISSION-VISSION */

.wrapper{
/*  
  width: 1400px; */
  /* 180px200px */
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-vission{
position: relative;
margin-top: 480px;
border-bottom: 3px solid #2E7D32;
}

.mission-vission p{
   font-weight: 500;
  text-align: center;
  font-size: 18px;

}

.mission-vission .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
  
}

.wrapper .mission{
      background: #EAF4D2;
      border-radius: 15px;
      padding: 10px 20px;
      height: 250px;
}

.wrapper .vission{
      height: 250px;
      background: #EAF4D2;
      border-radius: 15px;
      padding: 10px 20px;
}

.mission-vission h4{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    color: #44BB4F;
}
.wrapper span{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
    font-size: 16px;

}


.core-features{
  background: #EAF4D2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #2E7D32;
  margin-bottom: 10px;
  padding: 20px;
}

.core-wrapper h3{
text-align: center;
 font-size: 18px;
 font-weight: 600;
}

.core-wrapper .activities{
  display: flex;
  padding: 3px;
  gap: 25px;
  
}

.core-wrapper{
  margin-bottom: 10px;
}

.activities{
  /* background-color: red;
  width: 1000px; */
}

.activities img{
margin-left: 65px;
}
.activities .selling{
  background-color: #313D0F;
  padding: 10px;
  height: 200px;
  width: 190px;
  border-radius: 20px;
}

.activities .delivery{
  background-color: #313D0F;
  padding: 10px;
  height: 200px;
  width: 190px;
  border-radius: 20px;
}
.activities .tools{
  background-color: #313D0F;
  padding: 10px;
  height: 200px;
  width: 190px;
  border-radius: 20px;
}
.activities .community{
  background-color: #313D0F;
  padding: 10px;
  height: 200px;
  width: 190px;
  border-radius: 20px;
  
}

.activities h3{
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}

.activities span{
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  opacity: 80%;
  margin-left: 5px;
  display: flex;
  align-items:center ;
  justify-content: center;
  line-height: -10px;
}
/*............. FOOTER .....................190px*/

footer {
  background-color: #2f4a2e;
  color: white;
  padding: 40px 20px 20px;
  width: 1310px;
 margin-top: 450px;
  right: 30px;

}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  /* margin: auto; */

}

 .about{
position: absolute;
top: 630px;

}

.about p{
 font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

.about .social-icons{
  margin-top: 40px;
}
/* mark */
.footer-col {
  flex: 1 1 100px;
  min-width: 200px;
  /* background: red; */
  margin-top: 70px;
}

.footer-col h4,
.footer-col h3 {
  margin-bottom: 15px;

}

.newsletter1 h5{
 margin-bottom: 90px;
position: absolute;
top: 680px;
right: 400px;
font-size: 16px;
font-family: sans-serif;
}

.footer-col p,
.footer-col li {
  font-size: 14px;
  margin: 5px 0;

}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col a {
  color: white;
  text-decoration: none;
}

.footer-col a:hover {
  text-decoration: underline;
}

.social-icons a img {
  width: 25px;
  margin-right: 10px;
}


/* mark */
.newsletter1 form {
  display: flex;
  margin-top: 10px;
  position: absolute;
  top: 720px;
 right:400px;

}

.newsletter1 input[type="email"] {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  width: 370px;
  height: 15px;
}

.newsletter1 button {
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.footer-bottom {
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  margin-top: 30px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  /* align-items: center;
  flex-wrap: wrap; */
}

.footer-bottom .payments img {
  width: 40px;
  margin-left: 10px;
  
}

.contact1{
  padding: 10px 20px;
  margin: auto;
  font-family: sans-serif;

}

.contact1 p{
  width: auto;
  padding: 3px;
  font-family: sans-serif;
  letter-spacing: 1px;
 
}


/* .contact1 h4{
 
  text-transform: capitalize;
  font-weight: 600;
} */