/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.navbar{
    width: 100%;
    height: 180px;
    background: rgba(56, 36, 55, .4);
}

.navbar .agro{
    padding: 8px;
    background: #fff;
    height: 75px;
    width: 1365px;
    margin-top: 20px;
    
}

.agro a{
    float: left;
    text-decoration: none;
    color: #11e02d;
}

.agro a span{
    color: rgba(255, 56, 36);
}

.agro ul{
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    height: 70px;
    gap: 10px;
}

.agro ul li{
    border-right: 2px solid #000;
    padding: 20px 30px;
    list-style: none;
}

a li p{
    color: #11e02d;
}

.chain a li{
  color: #000;  
}

.btn{
    display: flex;
    float: right;
    gap: 5px;
   
}

.btn .login{
    color: #fff;
    background: #11e02d;
    border: none;
    height: 30px;
    width: 70px;
    padding: 3px;
    border-radius: 5px;
}

.btn span{
    height: 30px;
    width: 70px;
}

.btn span button{
     border: 1px solid #11e02d;
    background: #fff;
    color: #11e02d;
    border-radius: 5px;
     height: 30px;
    width: 70px;
} */